@{
    ViewBag.Title = "Inicio - Cartelera";
}

<div class="col-md-8 col-md-offset-2">
    <h1>Cresmont</h1>
    <p class="lead">Cine</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        
        <div class="panel-heading"><h4>Cartelera</h4></div>

        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td><img src="~/Imagenes/Peliculas/BellaYBestia.jpg" /></td>
                    <td>
                        <br /><h2>La Bella y la Bestia</h2><br />
                        <h4>Romantica</h4><br />
                        <input class="btn btn-info" value="Reservar" type="button" name="Reservar" />
                    </td>
                    <td><br /><h4>Horarios</h4></td>
                </tr>

                <tr>
                    <td><img src="~/Imagenes/Peliculas/GuardianesDos.jpg" /></td>
                    <td>
                        <br /><h2>Guardianes de la galaxia Vol. 2</h2><br />
                        <h4>Comedia</h4><br />
                        <input class="btn btn-info" value="Reservar" type="button" name="Reservar" />
                    </td>
                    <td><br /><h4>Horarios</h4></td>
                </tr>

                <tr>
                    <td><img src="~/Imagenes/Peliculas/JefeEnPanales.jpg" /></td>
                    <td>
                        <br /><h2>Jefe en Pañales</h2><br />
                        <h4>Animacion</h4><br />
                        <input class="btn btn-info" value="Reservar" type="button" name="Reservar" />
                    </td>
                    <td><br /><h4>Horarios</h4></td>
                </tr>

                <tr>
                    <td><img src="~/Imagenes/Peliculas/SoldadoArgentino.jpg" /></td>
                    <td>
                        <br /><h2>Soldado Argentino</h2><br />
                        <h4>Documental</h4><br />
                        <input class="btn btn-info" value="Reservar" type="button" name="Reservar" />
                    </td>
                    <td><br /><h4>Horarios</h4></td>
            </table>
        </div>
    </div>
    </div>
</div>